#wall .tag-1 {
    display: none;
    z-index: -1;
}

#wall .tag-2 {
    display: none;
    z-index: -1;
}

#wall .tag-3 {
    display: none;
    z-index: -1;
}

#wall .tag-4 {
    display: none;
    z-index: -1;
}

#wall .tag-5 {
    display: none;
    z-index: -1;
}

#wall .tag-6 {
    display: none;
    z-index: -1
}

.tag-1,
.tag-2,
.tag-3,
.tag-4,
.tag-5,
.tag-6 {
    position: absolute;
}

.tag-1 {
    background: none !important;
}

.tag-2 {
    background: none !important;
}

.tag-3 {
    background: none !important;
}

#wall .tag-4 {
    opacity: 0;
}

#wall .tag-5 {
    display: none;
    transform: scale(0);
}

#wall .tag-6 {
    visibility: hidden;
}